.register_form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 50px;
}

.btn {
    margin: 10px;
}